<canvas id="canvas" width="800" height="800"></canvas>
<div>
	<button class="good-btn btn btn-primary">すげえ！！</button>
</div>
<div>
	<button class="bad-btn btn btn-primary">わからん！</button>
</div>
<div>
	<button class="wait-btn btn btn-primary">ちょっと待って</button>
</div>
<div>
	<button class="question-btn btn btn-primary">しっつもーん</button>
</div>